[alias]
	st = status -sb
	un = reset HEAD --
	lg = log --graph --pretty=format:'%Cred%h%creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%<an>%Creset' --abbrev-commit --date=relative --all
	prune = branch --merged $1 | grep -v $1 | xargs git branch -d
	last = log -1 HEAD
